*{
	font: "微软雅黑";
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;	
}
h1{
	font-size: 24px;
	color: #6b99d1;
	font-weight: bold;
}
button{
	width: 100px;
	height: 30px;
	border: 1px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
}
.content{
	width: 590px;
	height: 324px;
	font-size: 14px;
	color: #666666;
	padding: 40px 0 0 60px;
}
#count{
	margin-left: 37px;
	background: #5EB84C;
}
#reset{
		background: #A0A99E;
}