*{
	margin: 0;
	padding: 0;
	list-style: none !important;
	text-decoration: none !important;
	font-size: 14px;
	font-weight: normal;
	font-family: 微软雅黑;
	color: #222222;
}
body{
	background: none !important;
}
/*导航begin*/
.nave{
	width:100%;
	line-height: 120px;
	text-align: center;
	margin-bottom: 0;
}
.head{
	width: 65%;
	margin: 0 auto;
}

.navbar-header{
	margin: 0 auto;
}
.name{
	line-height: 95px;
}
.head ul li{
	width: 120px;
	height: 120px;
	text-align: center;
	margin:0 auto;
	cursor: pointer;
	border: 1px solid #F8F8F8;
}
.head a{
	font-size: 16px;
	color: black;
	line-height: 82px !important;
}
.head ul li:first-child{
	background: #FFC001;
}
.head ul li:first-child a{
	color: white;
}
.head li:hover{
	background: #FFC001;
}
.head li:hover a{
	color: white !important;
}
.name span:first-child{
	color: rgb(255, 192, 1);
	font-size: 32px;
	font-weight: bold;
}
.name span:nth-child(2){
	color: rgb(204, 204, 204);
	font-weight: bold;
	font-size: 32px;
	margin-right: 50px;
}
@media only screen and (min-width: 970px) and (max-width: 1500px) {
	.head{
		width: 100%;
		margin: 0 auto;
		}
}
@media only screen and (min-width: 764px) and (max-width: 970px) {
	.head{
		width: 100%;
	}
	.nav{
		width: 100%;
		margin: 0 auto;
	}
	.head ul li{
	width: 96px;
	height: 50px;
	text-align: center;
	margin:0 auto;
	cursor: pointer;
	border: 1px solid #F8F8F8;
}
	.head ul li a{
	line-height: 10px !important;
	}
	.head_pic .nav-arrows img{
	width: 50px;
	height: 50px;
	}
}
@media only screen and (min-width: 0px) and (max-width: 764px) {
	.head ul li{
	width: 100%;
	height: 50px;
	text-align: center;
	margin:0 auto;
	cursor: pointer;
	border: 1px solid #F8F8F8;
}
	.head ul li a{
	line-height: 30px !important;
	}
	.head_pic .nav-arrows img{
	width: 40px;
	height: 40px;
	}
}
@media only screen and (min-width: 350px) and (max-width: 504px) {
	.head_pic .nav-arrows img{
	width: 30px;
	height: 30px;
	}
}
@media only screen and (min-width: 0px) and (max-width: 350px) {
	.head_pic .nav-arrows img{
	width: 20px;
	height: 20px;
	}
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
	.name{
		display: none;
	}
	
}
/*导航end*/
/*示意图begin*/
.head_pic{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
.head_pic .sb-slider{
	margin: 0;
}
.nav-arrows img:first-child{
	position: absolute;
	top:40%;
	left:1.5%;
	cursor: pointer;
	background: rgba(0,0,0,0.1);
	border-radius: 6px;
	z-index: 100;
}	
.nav-arrows img:nth-child(2){
	position: absolute;
	top:40%;
	right:1.5%;
	cursor: pointer;
	background: rgba(0,0,0,0.1);
	border-radius: 6px;
	z-index: 100;
}	
/*.arrow-left{
	display: block;
	width: 71px;
	height: 71px;
	background: url(../img/left.png)no-repeat rgba(0,0,0,0.1);
	cursor: pointer;
	border-radius: 6px;
	position: absolute;
	top: 47%;
	left:1.8%;
}
.arrow-right{
	display: block;
	width: 71px;
	height: 71px;
	background: url(../img/right.png)no-repeat rgba(0,0,0,0.1);
	cursor: pointer;
	border-radius: 6px;
	position: absolute;
	top: 47%;
	left: 94%;
}*/
/*示意图end*/
/*简介begin*/
.total{
	width: 100%;
}
.page_one{
	width:100%;
	height: auto;
	text-align: center;
	padding-top: 115px;
	background: url(../img/AD0IhfCEBhACGAAg95_hxAUonNShmgYwgA84lQc.jpg);
	background-position: center;
	overflow: hidden;
}
.page_one span:first-child{
	display: inline-block;
	color: rgb(94, 89, 81);
	line-height: 40px;
	font-size: 36px;
	font-weight: bold;
	height: 49px;
}
.page_one span:nth-child(2){
	display: inline-block;
	color:#FFC001;
	line-height: 40px;
	font-size: 36px;
	font-weight: bold;
	height: 40px;
}
.page_one>p{
	display:block;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}
.center_pic{
	width: 100%;
	position: relative;
	padding: 70px 0;
}
.center_pic img{
	margin: 0 auto;
}
/*.center_pic img:first-child{
	position: absolute;
	left: 36.5%;
	top: 100px;
}
.center_pic img:nth-child(2){
	position: absolute;
	left: 41%;
	top: 200px;
}*/
/*.num b{
	font-size: 30px;
	color: rgb(255, 255, 255);
	font-weight: bold;
}
.num b:first-child{
	position: relative;
	top: -329px;
	left: 206px;
}
.num b:nth-child(2){
	position: relative;
	top: -148px;
	left: 276px;
}
.num b:nth-child(3){
	position: relative;
	top: 44px;
	left: 125px;
}
.num b:nth-child(4){
	position: relative;
	top: 44px;
	left: -124px;
}
.num b:nth-child(5){
	position: relative;
	top: -148px;
	left: -278px;
}
.num b:nth-child(6){
	position: relative;
	top: -329px;
	left:-209px;
}
.word_one p{
	color: rgb(128, 128, 128);
	font-size: 14px;
	line-height: 30px;
	text-align: left;
	width: 40% ;
}
.word_one p:first-child{
	color: black;
	font-size: 22px;
	line-height: 40px;
}
.word_two p{
	color: rgb(128, 128, 128);
	font-size: 14px;
	line-height: 30px;
	text-align: right;
}
.word_two p:first-child{
	color: black;
	font-size: 22px;
	line-height: 40px;
}
.page_one div:nth-child(6){
	width: 40%;
	position: relative;
	top: -49.5%;
	left: 60%;
}
.page_one div:nth-child(7){
	position: relative;
	top: -39.5%;
	left: 64.5%;
}
.page_one div:nth-child(8){
	position: relative;
	top: -27.5%;
	left: 59.5%;
}
.page_one div:nth-child(9){
	position: relative;
	top: -87%;
	left: -60%;
}
.page_one div:nth-child(10){
	position: relative;
	top: -77%;
	left: -64.5%;
}
.page_one div:nth-child(11){
	position: relative;
	top: -65%;
	left: -59.5%;
}*/
.page_two{
	text-align: center;
	width: 100%;
	height: 825px;
	background: url(../img/AD0IhfCEBhACGAAg8fHUxAUorJC6kQYwgA84uwY.jpg);
	background-position: center;
	overflow: hidden;
}
.page_two span{
	padding-top: 100px;
	margin-left: -25px;
	display: inline-block;
	color:#FFC001;
	line-height: 40px;
	font-size: 36px;
	font-weight: bold;
	height: 49px;
}
.page_two>p{
	margin-left: -25px;
	display:block;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}
.banner{
	margin-top: 113px;
	width: 100%;
	height: auto;
}
.banner ul{
	width: 68%;
	height: auto;
	margin: 0 auto;
}
.banner li{
	float: left;
	width: 27%;
	height: auto;
	margin: 0 3%;
	position: relative;
}
.content{
	position: absolute;
	top: 79%;
}
.content p:nth-child(2){
	font-size: 18px;
	line-height: 30px;
}
.content p:nth-child(3){
	font-size: 18px;
	line-height: 30px;
}
.content p:nth-child(4){
	font-size: 14px;
	line-height: 30px;
}
.content p:nth-child(5){
	font-size: 14px;
	line-height: 30px;
}
.banner .content span{
	position: absolute;
	bottom: 92%;
	left: 52.5%;
	color: white;
	font-size: 30px;
	font-weight: normal;
}
@media only screen and (min-width: 100px) and (max-width: 1600px) {
	.banner .content span{
	display: none;
}
}
.page_three{
	width: 100%;
	height: 1031px;
	background: url(../img/AD0IhfCEBhACGAAg4ojVxAUo4KXToQUwgA84hwg.jpg);
	background-position: center;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.page_three span{
	padding-top: 50px;
	margin-left: -25px;
	display: inline-block;
	color:#FFC001;
	line-height: 40px;
	font-size: 36px;
	font-weight: bold;
	height: 49px;
	width: 100%;
}
.page_three>p{
	margin-left: -25px;
	display:block;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}
.jpg1{
	width: 31%;
	height: 56%;
	top: 25%;
	left: 18%;
	position: absolute;
	overflow: hidden;
}
/*.jpg1 img{
	position: absolute;
	left: 0%;
    top:0%;
}*/
.jpg2{
	width: 21.5%;
	height: 53%;
	top: 17%;
	left: 35%;
	position: absolute;
	/*overflow: hidden;*/
}
/*.jpg2 img{
	position: absolute;
	left: 0%;
	top: 0%;	
}*/
@media only screen and (min-width: 460px) and (max-width: 1890px) {
	.num{
		display: none;
	}
	.jpg2{
		display: none;
	}
	.page_three div:nth-child(6){
	position: absolute;
	top: 24.5%;
	left: 52.5% !important;
}
.page_three div:nth-child(7){
	position: absolute;
	top: 40.5%;
	left: 52.5% !important;
}
.page_three div:nth-child(8){
	position: absolute;
	top: 57.5%;
	left: 52.5% !important;
}
.page_three div:nth-child(9){
	position: absolute;
	top: 73.5%;
	left: 52.5% !important;
	}
}
@media only screen and (min-width: 100px) and (max-width: 460px) {
	.word_three{
	width: 100% !important;
	}
	.num{
		display: none;
	}
	.jpg1{
		display: none;
	}
	.jpg2{
		display: none;
	}
	.page_three div:nth-child(6){
	position: absolute;
	top: 24.5%;
	left: 12.5% !important;
}
.page_three div:nth-child(7){
	position: absolute;
	top: 40.5%;
	left: 12.5% !important;
}
.page_three div:nth-child(8){
	position: absolute;
	top: 57.5%;
	left: 12.5% !important;
}
.page_three div:nth-child(9){
	position: absolute;
	top: 73.5%;
	left: 12.5% !important;
	}
	.page_three .word_three p:first-child{
	text-align: left;
	color: black;
	font-size: 18px !important;
	line-height: 30px;
}
	.page_three .word_three p:nth-child(2){
	text-align: left;
	color: rgb(128, 128, 128);
	font-size: 12px !important;
	line-height: 30px;
}
}
.page_three .num b{
	color: rgb(255, 255, 255);
	font-size: 36px;
}
.page_three .num b:first-child{
	position: absolute;
	top: 25.5%;
	left: 48%;
}
.page_three .num b:nth-child(2){
	position: absolute;
	top: 41.3%;
	left: 53.5%;
}
.page_three .num b:nth-child(3){
	position: absolute;
	top: 58.3%;
	left: 53.9%;
}
.page_three .num b:nth-child(4){
	position: absolute;
	top: 73.5%;
	left: 50%;
}
.word_three{
	width: 28%;
}
.page_three .word_three p:first-child{
	text-align: left;
	color: black;
	font-size: 20px;
	line-height: 30px;
}
.page_three .word_three p:nth-child(2){
	text-align: left;
	color: rgb(128, 128, 128);
	font-size: 14px;
	line-height: 30px;
}

.page_three div:nth-child(6){
	position: absolute;
	top: 24.5%;
	left: 52.5%;
}
.page_three div:nth-child(7){
	position: absolute;
	top: 40.5%;
	left: 57.5%;
}
.page_three div:nth-child(8){
	position: absolute;
	top: 57.5%;
	left: 58%;
}
.page_three div:nth-child(9){
	position: absolute;
	top: 73.5%;
	left: 54.5%;
}
.page_four{
	width: 100%;
	height: 644px;
	text-align: center;
	background: url(../img/AD0IhfCEBhACGAAg2JDVxAUomsDYmAYwgA84hAU.jpg);
	background-position: center;
	overflow: hidden;
}
.page_four>span{
	padding-top: 85px;
	display: inline-block;
	color:white;
	line-height: 45px;
	font-size: 30px;
	font-weight: bold;
	width: 100%;
}
.page_four>p{
	display:block;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #B2B2B2;
}
.page_four ul{
	display: inline-block;
	width: 66%;
	margin-top: 85px;
	padding-left: 3%;
}
.page_four li{
	float: left;
	text-align: center;
	height: 250px;
	width: 12.1%;
	margin: 0 6%;
}
.page_four li span{
	display: inline-block;
	padding-top: 18px;
	color: rgb(224, 224, 224);
	font-size: 36px;
	line-height: 35px;
	font-weight: normal;
	width: 100%;
}
.page_four li p{
	color: rgb(204, 204, 204);
    font-size: 16px;
    line-height: 35px;
    width: 100%;
}
@media only screen and (min-width: 1000px) and (max-width: 1550px) {
	.page_four li span{
		font-size: 30px;
	}
	.page_four li p{
		font-size: 14px;
	}
}
@media only screen and (min-width: 660px) and (max-width: 1000px) {
	.page_four ul{
		width: 100%;
	}
	.page_four li span{
		font-size: 22px;
	}
	.page_four li p{
		font-size: 10px;
	}
}
@media only screen and (min-width: 400px) and (max-width: 660px) {
	.page_four ul{
		width: 100%;
	}
	.page_four li span{
		font-size: 20px;
	}
	.page_four li p{
		font-size: 9px;
	}
}
@media only screen and (min-width: 100px) and (max-width: 400px) {
	.page_four{
		height: auto;
	}
	.page_four ul{
		width: 100%;
	}
	.page_four li span{
		font-size: 14px;
	}
	.page_four li p{
		font-size: 6px;
	}
}
.page_five{
	width: 100%;
	height: 192px;
	overflow: hidden;
	background: white;
}
.page_five>span{
	padding-top: 3%;
	padding-left: 15.3%;
	display: inline-block;
	color:#FFC001;
	line-height: 35px;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	width: 100%;
}
.page_five>p{
	width: 100%;
	display:block;
	padding-left: 15.3%;
	line-height: 35px;
	font-size: 14px;
	color: rgb(105, 105, 105);
}
.page_five a span{
	display: block;
	font-size: 16px;
	font-weight: normal;
	border-radius: 29px 29px 29px 29px;
	background: #ffc001;
	line-height: 56px;
	height: 56px;
	width: 14%;
	cursor: pointer;
	text-align: center;
	color: white;
	float: right;
	margin-top: -70px;
	margin-right: 283px;
}
@media only screen and (min-width: 1100px) and (max-width: 1300px) {
	.page_five{
		height: auto;
	}
	.page_five>span{
	font-size: 20px;
}
	.page_five>p{
	font-size: 12px;	
	}
}
@media only screen and (min-width: 600px) and (max-width: 1100px) {
	.page_five{
	text-align: center;
	}
	.page_five>span{
	padding-top: 3%;
	padding-left: 0;
	font-size: 20px;
	text-align: center;
}
	.page_five>p{
	font-size: 12px;	
	padding-left: 0;
 	font-size: 14px;
	}
	.page_five a span{
	display: block;
	font-size: 16px;
	font-weight: normal;
	border-radius: 29px 29px 29px 29px;
	background: #ffc001;
	line-height: 46px;
	height: 46px;
	width: 14%;
	cursor: pointer;
	text-align: center;
	color: white;
	float: right;
	margin-right: 45%;
	margin-top: 0;
}
}
@media only screen and (min-width: 100px) and (max-width: 600px) {
	.page_five{
	text-align: center;
	height: 150px;
	}
	.page_five>span{
	padding-top: 3%;
	padding-left: 0;
	font-size: 14px;
	text-align: center;
}
	.page_five>p{
	font-size: 9px;	
	padding-left: 0;
	}
	.page_five a span{
	display: block;
	font-size: 8px;
	font-weight: normal;
	border-radius: 9px 9px 9px 9px;
	background: #ffc001;
	line-height: 26px;
	height: 26px;
	width: 14%;
	cursor: pointer;
	text-align: center;
	color: white;
	float: right;
	margin-right: 45%;
	margin-top: 0;
}
}
/*简介end*/
/*页脚导航begin*/
.end{
	text-align: center;
	background: #393737;
	width: 100%;
	height: auto;
	padding-top: 50px;
	overflow: hidden;
	margin-bottom: 0;
	border: none;
}
.end ul{
	display: block;
	width: 44.3%;
	height: auto;
	margin: 0 auto;
}
.end ul li{
	width: 20%;
	float: left;
	text-align: center;
}
.end ul li a{
	color: rgb(204, 203, 202);
	font-size: 14px;
	line-height: 50px;
}
.word_four{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.word_four p{
	color: #868686;
	font-size: 14px;
	line-height: 20px;
}
.word_four a{
	color: #868686;
	font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 1100px) {
	.end ul li a{
		font-size:12px ;
		line-height: 50px;
	}
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
	.end ul li{
		clear: both;
		text-align: center;
		width: 100%;
		height: auto;
		line-height: ;
		margin: 0;
	}
}
/*页脚导航end*/
/*张华添加的css*/
/*@media only screen and (min-width: 904px) and (max-width: 1810px) {
	.page_one .word_two p:first-child{font-size: 0.4em;}
}*/